html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  direction: rtl !important;
  font-family: "Cairo", sans-serif !important;
}

i,
svg {
  transform: scaleX(-1) !important;
}

.scaleX {
  transform: scaleX(-1) !important;
}

.input-group {
  .rounded-pill {
    border-radius: inherit !important;
  }

  .form-control {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
    border-right: 2px solid #0000007D !important;
    border-left: transparent !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .input-group-text {
    border-left: 2px solid #0000007D !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
  }
}

// START HEADER
.header {
  .search-results {
    left: 2.5rem !important;
    right: inherit !important;
  }
}

.dropdown-menu.show {
  left: 0 !important;
  right: inherit !important;
}

.general-dropdown .nav-item,
.notification p,
.notification small {
  text-align: start;
}

.user-info {
  .bi-arrow-bar-down {
    left: 1rem !important;
    right: inherit;
  }

  .pro-num {
    left: 1rem !important;
    right: inherit;
  }
}


/*-- END COMPONENTS --*/
.position-lang {
  left: 7% !important;
  right: inherit !important;
}

.position-back {
  right: 7%;
  left: inherit;
}


.login-img {
  border-radius: 1rem 0 0 1rem !important;
}

.scaleX-rtl {
  transform: scaleX(-1) !important;
}

.toggle-password {
  border-right: none !important;
  border-left: 1px solid #ebebeb;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}


.dropdown-toggle::after {
  margin-left: initial;
  margin-right: 0.225rem !important;
}

.dropdown-menu {
  left: 0 !important;
  right: inherit;
}

.form-check {
  display: flex;

  input[type=checkbox] {
    margin-left: 0.4rem !important;
  }
}

.form-check-switch {
  display: inherit;
}


/*icon position*/
.was-validated .form-control:valid,
.form-control.is-valid {
  background-position: left calc(0.375em + 0.1875rem) center;
  padding-right: 1rem !important;
  border-right: 2px solid #198754 !important;
}

.form-select.is-valid:not([multiple]):not([size]) {
  background-position: left 0.75rem center, center left 2.25rem;
}

.form-control.is-invalid,
.form-control:invalid {
  background-position: left calc(0.375em + 0.1875rem) center;
  padding-right: 1rem !important;
  border-right: 2px solid #dc3545 !important;
}

.search-content .form-control {
  padding-left: 13px !important;
}

.text-start {
  text-align: right !important;
}

.ps-5 {
  padding-right: 3rem !important;
  padding-left: inherit !important;
}

.ms-1 {
  margin-right: 0.25rem !important;
  margin-left: inherit !important;
}

.ms-3 {
  margin-right: 1rem !important;
  margin-left: inherit !important;
}

.me-1 {
  margin-right: inherit !important;
  margin-left: 0.25rem;
}

.me-2 {
  margin-right: inherit !important;
  margin-left: 0.5rem !important
}

.me-4 {
  margin-right: 0 !important;
  margin-left: 1.5rem !important
}

.float-end {
  float: left !important;
}

.accordion-button::after {
  margin-left: 0 !important;
  margin-right: auto;
}

@media (max-width: 991px) {
  .dropdown-menu {
    left: inherit !important;
    right: 50%;
  }
}

@media (max-width: 767px) {
  .user-info .dropdown-menu {
    transform: translateX(-26%) !important;
  }

  .notification .dropdown-menu {
    transform: translateX(-59%) !important;
  }

  .search .dropdown-menu {
    width: 21rem !important;
    transform: translateX(-55%) !important;
  }
}

@media (max-width: 565px) {}
